p {	/* dans un fichier css, les commentaires s'écrivent entre /* et */
	text-align: justify;/* Le texte des paragraphes sera justifié et de couleur verte */
	color: green;
}

h1, h2, h3 {	/* Le texte des titres h1, h2 et h3 seront de couleur "Gold" */
	color: Gold;
}